/* Images styles*/
.mp7,
.mptt100,
.mpss {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {
    margin: auto;
    border: 2px solid #333;
    text-align: center;
}

.images {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;


}

figcaption {
    font-size: 14px;
    color: #333;
    background-color: #D97C30;
    border-top: 2px solid #333;
}

/* Responsive Image Styles */
@media (max-width: 786px) {
    .images {
        grid-template-columns: 1fr;
    }
}

/* Images in section 2 Styles */
.float-image1 {
    float: left;
    margin-right: 15px;
    width: 100%;
    max-width: 100px;
    height: auto;
}


.float-image2 {
    float: right;
    margin-right: 15px;
    width: 100%;
    max-width: 100px;
    height: auto;
}

.clear {
    clear: both;
}

/* Responsive images in section 2 Styles */
@media (max-width: 786px) {

    .float-image1,
    .float-image2 {
        display: none;
    }
}

/* Subheader Styles */
.subheader {
    position: fixed;
    top: 20px;
    left: 5px;
    display: flex;
    gap: 10px;
    z-index: 3;
}

.back,
.ahmedbutton,
.jacobbutton {
    font-size: 10px;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    border: 2px solid black;
}

.ahmedbutton:hover,
.back:hover,
.jacobbutton:hover {
    background-color: grey;
}

.subheader1 {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
    z-index: 2;
}

.subheader2 {
    font-size: 10px;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    text-decoration: none;
}

.subheader2:hover {
    background-color: grey;
}

/* Responsive Subheader Styles  */
@media (max-width: 850px) {

    .subheader {
        flex-direction: row;
        align-items: flex-start;
    }

    .subheader1 {
        display: none;
    }
}


/* Header styles */
header {
    background: #4B7F3D;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    border-bottom: 2px solid #3E6A31;
    scroll-margin-top: 75px;
}

/* Body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #fbe5a2;
    background-image: url('images/pokey_texture.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center 150px;
}

/* Blockquote styles */
blockquote {
    background: #4B7F3D;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border: 2px solid #3E6A31;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%
}

.bq {
    font-style: italic;
}

blockquote footer {
    color: #333;
}

/* Content styles */
main {
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;

    /* Multicol */
    column-count: 1;
    column-gap: 20px;
}

section {
    background-color: #D6A6A0;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 2px solid #B88C8B;
    scroll-margin-top: 75px;
}


/* Heading styles */
h1,
h2,
h3 {
    color: #333;
    text-align: center;
}

h1 {
    margin-top: 45px;
}

h2 {
    margin-top: 30px;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
}

h3 {
    background-color: #4B7F3D;
    margin-bottom: 0;
    margin-top: 15px;
    border: 2px solid #3E6A31;
    scroll-margin-top: 75px;
}

p {
    color: white;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tbody tr {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.table2,
.table3,
.table4 {
    display: none;
}

/* Responsive table styles */
@media (max-width: 768px) {

    .original_table {
        display: none;
    }

    .table2,
    .table3,
    .table4 {
        display: table;
        width: 100%;
    }
}

/* Footer Styles */

.finalfooter {
    position: static;
    bottom: 0%;
    width: 100%;
    background-color: rgb(160, 160, 160);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.finalfooter p {
    color: black;
}