body {
    background-color: darkred;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}
header {
    background-color: black;
    color: white;
    padding: 20px;
}
main {
    padding: 20px;
}
a {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: darkred;
    text-decoration: none;
    font-size: large;
}
a:hover {
    background-color: black;
}
footer {
    background-color: black;
    color: white;
    padding: 40px;
    position: relative;
    bottom: -100px;
    width: 95%;
}
img {
    width: 10%;          
    height: 110px;        
    display: block;     
    margin-left: auto;
    margin-right: auto;
}
h2, p {
    font-size: large;
    color: white;
}
.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info-section form {
    margin-top: 10px;
}
.info-section label {
    font-size: large;
}
.info-section input[type="checkbox"] {
    margin: 10px;
}